@charset "ISO-8859-1";

body {
	background-color : rgb(0,0,0);
	color : rgb(217,232,247);
	margin-bottom : 1px;
}
div#container {
	position : relative;
	background-color : rgb(41,41,41);
	min-height : 99vh;
}
@media (min-width: 602px) {
	div#container {
		width : 70%;
		margin : 0 15%;
	}
}
header {
	color : rgb(115,111,111);
	background-color : rgb(206,255,0);
}
header > h1 {
	border : 1px solid red;
	padding : 2px 8px; /*0.1em 0.3em;*/
	margin : 0; 
}
header > h3 {
	border : 1px solid red;
	padding : 2px 8px; /*0.1em 0.3em;*/
	margin : 0;
}
main > p {
	padding : 2px 8px;
}
footer {
	background-color : rgb(61,61,61);
	position : absolute;
	bottom : 0;
	box-sizing : border-box;
	width : 100%;
	padding : 2px 8px;
}